<div class="repo-card" data-repo="{{ include.repo.user }}/{{ include.repo.name }}">
  <a href="https://github.com/{{ include.repo.user }}/{{ include.repo.name }}" target="_blank" rel="noopener noreferrer">
    <div class="repo-card-inner">
      <div class="repo-card-header">
        <i class="fab fa-github repo-card-icon"></i>
        <span class="repo-card-name">{{ include.repo.name }}</span>
      </div>
      <p class="repo-card-desc">{{ include.repo.description }}</p>
      <div class="repo-card-meta">
        <span class="repo-card-lang">
          <span class="repo-card-lang-dot"></span>
          <span class="repo-card-lang-name">{{ include.repo.language }}</span>
        </span>
        <span class="repo-card-stars">
          <i class="fas fa-star"></i> <span class="repo-card-stars-count">{{ include.repo.stars }}</span>
        </span>
      </div>
    </div>
  </a>
</div>
